html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: grey;
    overflow: hidden;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
    margin: 0 auto;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    margin: 0 auto;
}

canvas {
    display: block;
    border: 1px solid black;
    z-index: 1;
}

#area {
    height: 65535px;
}

img {
    display: none;
}

#inner {
    margin: 0 auto;
    position: relative;
    width: 480px;
    height: 300px;
}

.hide {
    z-index: 2;
    background-color: grey;
    width: 129px;
    height: 302px;
    position: absolute;
    top: 0px;
    display: block;
}

#l {
    left: 0px;
    border-right: 1px solid black;
}

#r {
    right: -2px;
    border-left: 1px solid black;
}